/* :root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
} */
* {
  margin: 0;
}

html,
body {
  height: 100%;
}

body {
  margin: 64px auto auto auto;
  width: 50%;
  font-family: Roboto;
  font-weight: medium;
  background-color: #F6F5F1;
  display: grid;
  grid: "headerT headerC" min-content 
        "nav     main  " auto 
        "footer  footer" min-content / 160px 688px;
  gap: 16px;
}

#headerType {
  grid-area: "headerT";
  font-size: 14px;
  margin: 2px;
  padding: 1px;
}

#headerCategories {
  grid-area: "headerC";
  font-size: 14px;
  margin: 2px;
  padding: 1px;
}

/* navigation panel */
.nav {
  grid-area: "nav";
  display: grid;
  grid: auto-flow min-content /1fr;
  gap: 8px;
}

.btnType {
  background-color: #ffffff;
  font-size: 14px;
  margin: 2px 0px;
  border-radius: .5em;
  cursor: pointer;
  padding: 12px 0px 11px 16px;
  display: inline-block;
}

.btnType:hover {
  background-color: #DEF2DD;
}

.btnType:active {
  background-color: #46AA42;
}

/* Item blocks */

.categoriesContainer {
  grid-area: "main";
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  gap: 16px;
}

.blockCategories {
  grid-column: span 3;
  background-color: #ffffff;
  width: 160px;
  height: 160px;
  border-radius: 19px;
}

.blockCategories img {
  margin: 32px 48px auto 48px;
}

.blockCategories .desc {
  margin-top: 15px;
  text-align: center;
  font-size: 14px;
}