@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;1,300&display=swap");
* {
  margin: 0;
}

html,
body {
  height: 100%;
}

body {
  margin: 64px auto auto auto;
  padding-left: 25%;
  padding-right: 25%;
  font-family: "Roboto", sans-serif;
  font-weight: medium;
  background-color: #f6f5f1;
  display: grid;
  grid:
    "headerT headerC" min-content
    "nav     main  " auto
    "footer  footer" min-content / 160px 688px;
  gap: 16px;
}

#headerType {
  grid-area: "headerT";
  font-size: 14px;
  margin: 2px;
  padding: 1px;
}

#headerCategories {
  grid-area: "headerC";
  font-size: 14px;
  margin: 2px;
  padding: 1px;
}

/* navigation panel */
.nav {
  grid-area: "nav";
  display: grid;
  grid: auto-flow min-content / 1fr;
  gap: 8px;
}

.btnType {
  background-color: #ffffff;
  font-size: 14px;
  margin: 2px 0px;
  border-radius: 0.5em;
  cursor: pointer;
  padding: 12px 0px 11px 16px;
  display: inline-block;
}

.btnType:hover {
  background-color: #def2dd;
}

.btnTypeActive {
  background-color: #46aa42;
}

/* Item blocks */

.categoriesContainer {
  grid-area: "main";
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  gap: 16px;
}

.blockCategories {
  grid-column: span 3;
  background-color: #ffffff;
  width: 160px;
  height: 160px;
  border-radius: 19px;
}

.blockCategories img {
  margin: 32px 48px auto 48px;
}

.blockCategories .desc {
  margin-top: 15px;
  text-align: center;
  font-size: 14px;
}

footer {
  grid-column: span 2;
}
footer > div {
  display: block;
  width: 20%;
  margin-left: 40%;
}

/* TODO: add responsive media queries */
